@model List<EmployeeIndexViewModel>

<body>
    <table class="table table-striped" id="tblEmployeeList">
        <thead>
            <tr>
                <th>LASRRA/LAGID</th>
                <th>Oracle No.</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Gender</th>
                @*<th>MDA</th>*@
                @*<th>Designation</th>*@
                <th>Employment Type</th>
                <th class="text-warning">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Detail" asp-route-LasrraID="@item.LASRRAID"> @item.LASRRAID</a>

                    </td>
                    <td>

                        @item.EmployeeNo
                    </td>
                    <td>
                        <img class="img-fluid" style="width:42px; height:56px" alt="image" src="@Url.Content(item.ImageUrl)" />
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.Gender</td>
                    @*<td>@item.Ministry</td>*@
                    @*<td>@item.Designation</td>*@
                    <td>@item.EmploymentTypeName</td>
                    <td>
                        <a class="text-primary" asp-controller="Employee" asp-action="Edit" asp-route-LasrraID="@item.LASRRAID">
                         @*<i class="fas fa-edit"></i>*@ <i class="fas fa-user-pen"></i> Edit</a> |
                        @*@Html.ActionLink("Edit","Edit","Employee",  new { LasrraID=item.LASRRAID})*@
                        <a class="text-success" asp-action="Detail" asp-route-LasrraID="@item.LASRRAID">
                            <i class="fas fa-bars"></i> Detail
                        </a> |
                        <a class="text-danger" asp-action="Delete" asp-route-LasrraID="@item.LASRRAID">
                            <i class="far fa-trash-alt"></i> Delete
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <br />


</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Script/jquery-3.7.1.min.js"></script>


@*<link rel="stylesheet" href="~/DataTables/datatables.css" />*@

<script src="~/DataTables/datatables.js"></script>

<script src="~/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="~/DataTables/DataTables-1.13.6/css/dataTables.jqueryui.min.css" />

<script type="text/javascript">
   
    var js = jQuery.noConflict(true);

    js(document).ready(function () {
        js("#tblEmployeeList").DataTable({

            "processing": true,
            "serverside": false,
            "filter": true,
            "orderMulti": true

        });

    });



</script>

