@model EmployeeListPagination<EmployeeIndexViewModel>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            @*<label class="control-label">Ministry</label>*@
                        </div>
                        <div class="form-group col-md-5" style="text-align:right">
                            <label class="control-label">Filter Output By Ministry</label>
                        </div>
                        @*<select asp-for="MDAId" class="form-control" asp-items="@ViewBag.MDAList ">
                                <option selected>-----Select MDA-------</option>
                            </select>*@
                        <div class="form-group col-md-4">
                            <select name="Ministry" id="ddMinistryFilter" class="form-control" asp-items="@ViewBag.MDAList">
                                <option selected>-----Select MDA-------</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2" style="text-align:right">
                            <button type="button" class="btn btn-rounded btn-primary" id="btnFilter"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Filter</button>
                        </div>
                        @*<div class="form-group col-md-2" style="text-align:right">
                                <label asp-for="Designation"></label>
                            </div>
                            <div class="form-group col-md-4">
                                <input asp-for="Designation" class="form-control" id="Designation" placeholder="Enter Designation.." />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>*@

                    </div><br />
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Employee</a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>LASRRA/LAGID</th>
                                    <th>Oracle No.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    @*<th>MDA</th>*@
                                    @*<th>Designation</th>*@
                                    <th>Employment Type</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-LasrraID="@item.LASRRAID"> @item.LASRRAID</a>

                                        </td>
                                        <td>

                                            @item.EmployeeNo
                                        </td>
                                        <td>
                                            <img class="img-fluid" style="width:42px; height:56px" alt="image" src="@Url.Content(item.ImageUrl)" />
                                        </td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        @*<td>@item.Ministry</td>*@
                                        @*<td>@item.Designation</td>*@
                                        <td>@item.EmploymentTypeName</td>
                                        <td>
                                            <a class="text-primary" asp-controller="Employee" asp-action="Edit" asp-route-LasrraID="@item.LASRRAID">
                                                <i class="fas fa-edit"></i> Edit
                                            </a> |
                                            @*@Html.ActionLink("Edit","Edit","Employee",  new { LasrraID=item.LASRRAID})*@
                                            <a class="text-success" asp-action="Detail" asp-route-LasrraID="@item.LASRRAID">
                                                <i class="fas fa-bars"></i> Detail
                                            </a> |
                                            <a class="text-danger" asp-action="Delete" asp-route-LasrraID="@item.LASRRAID">
                                                <i class="far fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table><br />
                        @{ var disablePrevious = !Model.IsPreviousPageAvailable ? "disabled" : "";
                            var disableNext = !Model.IsNextPageAvailable ? "disabled" : "";
                        }
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           class="btn btn-primary @disablePrevious">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           class="btn btn-primary @disableNext">
                            Next
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Script/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //$("#ddMinistryFilter").change(function (evt) {

        //    alert($("#ddMinistryFilter").val());
        //    alert($("#ddMinistryFilter option:selected").text());

        //});



        //var selectedValue = null;


    });
</script>

<script>
    $(document).ready(function () {
        $("#btnFilter").click(function () {
            var selectedIndex = $("#ddMinistryFilter").val();
            var selectedText = $("#ddMinistryFilter option:selected").text();

            if (selectedText == "-----Select MDA-------") {
                alert("No selection made yet.Make a selection and try again");
                return;
            }
            else {
                $.ajax({
                    type: 'POST',
                    /*dataType: 'json',*/
                    url: '/Employee/FilterByMDA',
                    @*data: { oracleNumber: $("#EmployeeNo").val() },*@
                    data: { mdaID: selectedIndex },
                    //url: '/Home/GetResidentsBasicDetails',
                    //data: { LASRRAID: $("#txtLASRRAID").val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        window.location.href = data.redirect;
                    },

                    failure: function (response) {
                        /* alert(response.responseText);*/
                        alert("Problem loading record");
                        return;
                    },
                    error: function (response) {
                        alert("Error communicating to the backend");
                        return;
                    }


                });
            }
            //alert("button");
        });
    });
</script>

<script type="text/javascript">

    function FilterMDARecord() {

        /*  var ID = $("#EmployeeNo").val()*/

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/Employee/MDAIndex',
            /*data: { oracleNumber: $("#EmployeeNo").val() },*/
            data: { mdaID: MDASelectedIndex },
            //url: '/Home/GetResidentsBasicDetails',
            //data: { LASRRAID: $("#txtLASRRAID").val() },
            contentType: 'application/json; charset=utf-8',
            success: function (responseData) {

            },

            failure: function (response) {
                /* alert(response.responseText);*/
                alert("Details on Oracle not found");
            },
            error: function (response) {
                alert("Error communicating to the backend");
            }


        });



    }

</script>