@using Microsoft.AspNetCore.Identity
@using CSBFleetManager.Entity
@inject SignInManager<ApplicationUser> SignInManager
@*@inject SignInManager<IdentityUser> SignInManager*@
@inject UserManager<ApplicationUser> UserManager
@*@model EmployeeListPagination<EmployeeIndexViewModel>*@
@model List<EmployeeCardRequestIndexViewModel>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/AdminLTE/_LayoutManager.cshtml";
}

<body>
    <form id="IDRequestfrm" method="post" asp-controller="Employee" asp-action="MDAIndexJQueryCardRequestDataTable">
        @*<input type="hidden" name="__RequestVerificationToken" value="@Antiforgery.GetTokens(HttpContext).RequestToken" />*@
        <div class="form-row">
            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-6"><h2>Employee List for StaffID Card Request</h2></div>
            <div class="form-group col-md-3"></div>
        </div>

        <table class="table table-striped" id="tblEmployeeCardRequestList">
            <thead>
                <tr>
                    <th>LASRRA/LAGID</th>
                    <th>Oracle No.</th>
                    <th>Photo</th>
                    <th>Name</th>
                    @*<th>Gender</th>*@
                    @*<th>MDA</th>*@
                    <th>Request Type</th>
                    <th>Employment Type</th>
                    @*<th class="text-warning">&nbsp;&nbsp;&nbsp;<button id="checkAll" class="btn btn-danger">Check All</button></th>
                    <th class="text-warning">&nbsp;<button id="uncheckAllButton" class="btn btn-danger">Uncheck All</button></th>*@
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="checkAll" /></th>
                    <th>Validation(s)</th>
                    @*<th><button id="checkAll">Check All</button></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Detail" asp-route-LasrraID="@item.LASRRAID"> @item.LASRRAID</a>

                        </td>
                        <td>

                            @item.EmployeeNo
                            <input type="hidden" value="@item.EmployeeNo" id="EmployeeNo" />
                            <input type="hidden" value="@item.LASRRAID" id="LAGID" />
                            <input type="hidden" value="@(User.FindFirst("MDAId").Value)" id="MDAId" />
                        </td>
                        <td>
                            <img class="img-fluid" style="width:42px; height:56px" alt="image" src="@Url.Content(item.ImageUrl)" />
                        </td>
                        <td>@item.FullName</td>
                        @*<td>@item.Gender</td>*@
                        @*<td>@item.Ministry</td>*@
                        <td>
                            <select asp-for="@item.CardRequestType" class="form-control" id="RequesttypeCode" asp-items="ViewBag.PrintReasons">
                                <option selected>-----Select Print Type-------</option>
                            </select>
                        </td>
                        <td>@item.EmploymentTypeName</td>
                        <td>

                            <!--<a class="text-primary" asp-controller="Employee" asp-action="Edit" asp-route-LasrraID="@item.LASRRAID">-->             @*<i class="fas fa-edit"></i>*@
                            <!--<i class="fas fa-user-pen"></i> Edit
                        </a> |-->
                            @*@Html.ActionLink("Edit","Edit","Employee",  new { LasrraID=item.LASRRAID})*@
                            <a class="text-success" asp-controller="Employee" asp-action="DetailCardRequest" asp-route-LasrraID="@item.LASRRAID">
                                <i class="fas fa-bars"></i> Detail
                            </a> |
                            @*<a class="text-danger" asp-action="Delete" asp-route-LasrraID="@item.LASRRAID">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>*@
                            <i class="far fa-square-root-alt"></i>ID Request
                            <input type="checkbox" class="id-checkbox" data-employee-id="@item.LASRRAID" />
                            @*<input type="checkbox" class="id-checkbox" asp-route-LasrraID="@item.LASRRAID" />*@
                        </td>
                        <td class="validationMessage"></td>
                    </tr>

                }
            </tbody>
        </table>
        @*<th class="text-warning">&nbsp;&nbsp;&nbsp;<button id="checkAll" class="btn btn-danger">Check All</button></th>
        <th class="text-warning">&nbsp;<button id="uncheckAllButton" class="btn btn-danger">Uncheck All</button></th>*@
    <div class="form-row">
        <div class="form-group col-md-8">

        </div>
        <div class="form-group col-md-2">
            <button id="checkAllButton" class="btn btn-danger">Check All</button>
            @*<button id="uncheckAllButton" class="btn btn-primary">Uncheck All</button>*@
        </div>
        <div class="form-group col-md-2">
            @*<button id="checkAllButton" class="btn btn-danger">Check All</button>*@
            <button id="uncheckAllButton" class="btn btn-primary">Uncheck All</button>
        </div>
    </div>

        <br />
        <br />
        <div class="form-row">

            <div class="form-group col-md-4">

            </div>
            <div class="form-group col-md-2">
                <button type="button" id="submitRequest" class="btn btn-rounded btn-primary">Submit Request</button>
            </div>
            <div class="form-group col-md-2">
                <a asp-controller="Employee" asp-action="MDAIndexJQueryDataTable" asp-route-mdaID="@(User.FindFirst("MDAId").Value)" class="btn btn-rounded btn-success "><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>

            </div>
            <div class="form-group col-md-4">

            </div>

        </div><br />
        <div id="error-message" style="color:red;"></div>
    </form>
</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Script/jquery-3.7.1.min.js"></script>


@*<link rel="stylesheet" href="~/DataTables/datatables.css" />*@

<script src="~/DataTables/datatables.js"></script>

<script src="~/DataTables/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="~/DataTables/DataTables-1.13.6/css/dataTables.jqueryui.min.css" />

<script type="text/javascript">

    var js = jQuery.noConflict(true);

    js(document).ready(function () {
        js("#tblEmployeeCardRequestList").DataTable({

            "processing": true,
            "serverside": false,
            "filter": true,
            "orderMulti": true

        });


    });

</script>
<script>
    $(document).ready(function () {
            // Initialize the DataTable
            //$('#employeeTable').DataTable();

            // Handle the save button click
            $('#submitRequest').on('click', function () {
                var selectedEmployees = [];
                var validSelection = true;

                // Loop through all checkboxes that are checked
                $('.id-checkbox:checked').each(function () {
                    var employeeId = $(this).data('employee-id');
                    var action = $(this).closest('tr').find('#RequesttypeCode').val();
                    //var employeeNo = $("#EmployeeNo").val();
                    var employeeNo = $(this).closest('tr').find('#EmployeeNo').val();
                    //var lagId = $("#LAGID").val();
                    var lagId = $(this).closest('tr').find('#LAGID').val();
                    var mdaId = $(this).closest('tr').find('#MDAId').val();


                    // Check if an action other than "Select Action" is selected
                    if (action === "0") {
                        validSelection = false;
                        alert("Please select a valid action for Employee ID: " + employeeId);
                        return false; // Stop further processing in case of an invalid selection
                    }

                    // Build the employee object with ID and selected action
                    selectedEmployees.push({
                        LASRRAID: employeeId,
                        CardRequestType: action,
                        EmployeeNo: employeeNo,
                        LAGID: lagId,
                        MDAId: mdaId
                    });
                   
                });
                //alert(selectedEmployees.length);
                //alert(JSON.stringify(selectedEmployees));

                // Prevent submission if no valid selection
                if (!validSelection || selectedEmployees.length === 0) {
                    if (selectedEmployees.length === 0) {
                        alert("No employees selected.");
                    }
                    return;
                }
                console.log(selectedEmployees);

                // Send the data to the controller via AJAX
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MDAIndexJQueryCardRequestDataTable", "Employee")',
                   /* url: "Employee/MDAIndexJQueryCardRequestDataTable",*/
                    data: JSON.stringify(selectedEmployees),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("Selected records have been saved successfully.");
                           
                        } else {
                            alert("Error saving records.");
                        }
                    },
                    error: function (response) {
                        //alert(JSON.stringify(selectedEmployees));
                        alert("Error occurred during request.");
                        

                    }
                });
            });
        });
</script>
<script type="text/javascript">

    var CreateIDRequest = function () {
        debugger
        var EmployeeFormData = $("#IDRequestfrm").serialize();

        $.ajax({
            type: "Post",
            url: "Employee/MDAIndexJQueryCardRequestDataTable",
            data: EmployeeFormData,
            success: function (response) {

                //alert(success);
                swal({
                    title: "Employee Staff ID Request",
                    text: "Employee Staff ID Request Created Successfully",
                    icon: "Success",
                    buttons: true,
                    dangerMode: false

                })
            },
            failure: function (response) {
                /* alert(response.responseText);*/
                //alert("Details on Oracle not found");

                swal({
                    title: "Employee Creation",
                    text: "Error submitting ID request.",
                    icon: "Failure",
                    buttons: true,
                    dangerMode: true

                })
            },
            error: function (response) {
                alert("Error communicating to the backend");
            }


        })
    }
</script>
<script>
    $(document).ready(function () {
        // Function to check all checkboxes
        $('#checkAll').click(function () {
            $('.id-checkbox').prop('checked', this.checked);
        });

        // Function to check all checkboxes via button
        $('#checkAllButton').click(function (event) {
            event.preventDefault(); // Prevent the form from submitting
            $('.id-checkbox').prop('checked', true);
            $('#checkAll').prop('checked', true);
        });

        // Function to uncheck all checkboxes via button
        $('#uncheckAllButton').click(function (event) {
            event.preventDefault(); // Prevent the form from submitting
            $('.id-checkbox').prop('checked', false);
            $('#checkAll').prop('checked', false);
        });

        // Update the "Check All" checkbox status based on individual checkbox changes
        $('.id-checkbox').change(function () {
            var allChecked = $('.id-checkbox').length === $('.id-checkbox:checked').length;
            $('#checkAll').prop('checked', allChecked);
        });
    });
</script>



