<!DOCTYPE html>

<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff-LASRRA DB Harmonization</title>

    <!-- Google Font: Source Sans Pro -->
    <partial name="AdminLTE/_Styles" />
</head>
@*<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">*@
<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- my modification -->
    <div class="container-scroller">

        <div class="wrapper">

            <!-- Navbar -->
            <partial name="AdminLTE/_TopNavigation" />
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
            <partial name="AdminLTE/_MainNavigation" />

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h5 class="m-0">LASG Staff Record Harmonization with LASRRA DB Dashboard</h5>
                            </div><!-- /.col -->
                            <!--<div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Application Dashbaord</li>
                                </ol>
                            </div>-->
                            <!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        <!-------- My Code Start>
                        <!-- Info boxes -->
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-info elevation-1">@*<i class="fas fa-cog"></i>*@ <i class="fa fa-bus"></i></span>

                                    <div class="info-box-content">
                                        @*<span class="info-box-text">Total CSB Fleet</span>*@
                                        <span class="info-box-text">Total Officers Uploaded</span>
                                        <span class="info-box-number">
                                            @*10*@
                                            @ViewBag.TotalReg

                                            @*<small>%</small>*@
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-danger elevation-1">@*<i class="fas fa-thumbs-up"></i>*@<i class="fa fa-users-cog"></i></span>

                                    <div class="info-box-content">
                                        @*<span class="info-box-text">Registered CSB Users </span>*@
                                        <span class="info-box-text">Uploaded Male Officers </span>
                                        <span class="info-box-number">
                                            @if (ViewBag.TotalRegMale != null)
                                            {
                                                @ViewBag.TotalRegMale
                                            }
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <!-- fix for small devices only -->
                            <div class="clearfix hidden-md-up"></div>

                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-success elevation-1">@*<i class="fas fa-shopping-cart"></i>*@<i class="fa fa-clock"></i></span>

                                    <div class="info-box-content">
                                        @*<span class="info-box-text">Total Hours Traveled By Fleet</span>*@
                                        <span class="info-box-text">Uploaded Female Officers</span>
                                        <span class="info-box-number">@ViewBag.TotalRegeFemale</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6 col-md-3">
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-warning elevation-1">@*<i class="fas fa-users"></i>*@<i class="fa fa-people-carry"></i></span>

                                    <div class="info-box-content">
                                        @*<span class="info-box-text">Users On-Board Today</span>*@
                                        <span class="info-box-text">Record Upload for Today</span>
                                        <span class="info-box-number">
                                            @ViewBag.TotalRegToday
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-------- My Code End>

                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                    @RenderBody()
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                    <h5>Title</h5>
                    <p>Sidebar content</p>
                </div>
            </aside>
            @*@RenderBody()*@
            <!-- /.control-sidebar -->
            <!-- Main Footer -->
            <partial name="AdminLTE/_Footer" />
        </div>
    </div> <!-- my modificaton -->
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <partial name="AdminLTE/_Scripts" />
    @RenderSection("Scripts", required: false)

    <!-- jQuery -->

</body>
</html>
