@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity;
@using CSBFleetManager.Models
@model List<CSBFleetManager.Models.UserRolesViewModel>
@*@model IEnumerable<IdentityUser>*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>User List</h1>
<br />
<table class="table table-striped" id="userTable">
    @*<thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    UserId
                </th>
                <th>
                    Email
                </th>
                <th style="width:10%">
                    Actions
                </th>
            </tr>
        </thead>*@
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            @*<tr>
                    <td>
                        <a>
                            @user.UserName
                        </a>

                    </td>
                    <td>
                        <a> @user.Id</a>
                    </td>
                    <td>
                        <a>
                            @user.Email
                        </a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                <a style='margin-right:16px' asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.Id" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> Manage Roles
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>*@

        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                @*<a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>&nbsp;&nbsp;*@
                @*<a class="btn btn-primary" asp-controller="UserRoles" asp-action="UserPasswordReset" asp-route-userId="@user.UserId">Reset Password</a>*@
            </td>
            <td>
                @*<a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>&nbsp;&nbsp;*@
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="UserPasswordReset" asp-route-userId="@user.UserId">Reset Password</a>
            </td>

        </tr>
        }
    </tbody>
</table>
